*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,h1,h2,h3,h4,h5,div,li,ul,nav,button, img{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

h1,h2,h3,h4,h5{
  font-weight: 480;
}

button{
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #f3f2ef;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
